.row.header
  .col-xs-12
    = link_to '', previous_wizard_path,
              class: 'workflow-back' unless [:your_profile].include? step
    - i = 1 if step == :your_profile
    - i = 2 if step == :your_family
    - i = 3 if step == :your_search
    %span.workflow-which-step
      = i
      of 3
    %h3= t step
