.row.header
  .col-xs-12
    = link_to '', previous_wizard_path,
              class: 'workflow-back' if [:your_phone_number].include? step
    - i = 1 if step == :your_profile
    - i = 2 if step == :your_phone_number
    - if i.present?
      %span.workflow-which-step
        = i
        of 2
    %h3= t step
