#presentation
  .row.header
    .col-xs-12
      %h3 What ? Why ?
  .container
    %p
      Join the other people of this search app and find your loved ones back
      much easier. Quick, simple and safe: click on this button and follow the
      steps.
    %p
      Please note and accept our
      = link_to 'Terms and Conditions', '#', data: { toggle: "modal", target: "#tosModal" }
      , thank you.

    = link_to 'next', next_wizard_path,
              class: 'btn btn-default pull-right btn-lg btn-success'

#tosModal.modal.fade{"aria-labelledby" => "tosModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#tosModalLabel.modal-title Terms and Conditions
      .modal-body
        = render partial: 'shared/tos'
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
