#your-phone-number
  = render partial: 'header'

  = simple_form_for @resident, url: wizard_path do |form|
    = form.input :phone_number
    = form.button :submit, 'Submit', class: 'pull-right btn-next'
