#thank-you
    %div
        .logotype
        %h4= t :thank_you
        %span.separation
        %p= t :confirmation
        %p= t :scheduled_notifications
        = link_to 'Homepage', root_path, class: "btn btn-default btn-lg"
