#thank-you > div {
    max-width: 460px;
    margin: 0 auto;
}

#thank-you {    
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px;
    text-align: center;
    
    h4 {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 22px;
        color: #5aba76;
        text-align: left;
    }

    .separation {
        display: block;
        width: 145px;
        height: 1px;
        margin: 20px 0 40px;
        background-color: #69d589;
    }

    p {
        font-size: 16px;
        line-height: 22px;
        text-align: left;
    }
    
    .btn-default {
        margin-top: 50px;
        font-size: 14px;
        text-transform: inherit;
    }
}