h4 {
    font-weight: bold;
    font-size: 22px;
    color: #5aba76;
}

.separation {
    display: block;
    
    width: 145px;
    height: 1px;
    margin: 20px 0 40px;
    background-color: #69d589;
}

p {
    font-size: 16px;
    line-height: 22px;
}